/* CSS Reset */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  transition: all 0.1s;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #FFFFFF;
}
body .container-full-body {
  max-width: 100%;
}
body .container-full-body .container-top .container-nav-top .parent-header .parent-container-nav-top {
  max-width: 60.95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  height: 100px;
}
body .container-full-body .container-top .container-nav-top .parent-header .parent-container-nav-top .first-nav-parent-logo {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-basis: 35%;
}
body .container-full-body .container-top .container-nav-top .parent-header .parent-container-nav-top .tes {
  display: flex;
  flex-grow: 1;
  flex-basis: 65%;
  justify-content: end;
  align-items: center;
  gap: 5px;
}
body .container-full-body .container-top .container-nav-top .parent-header .parent-container-nav-top .tes .first-nav-parent-telfon {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 5px;
}
body .container-full-body .container-top .container-nav-top .parent-header .parent-container-nav-top .tes .first-nav-parent-telfon .telfon {
  position: relative;
}
body .container-full-body .container-top .container-nav-top .parent-header .parent-container-nav-top .tes .first-nav-parent-telfon .number1 a {
  text-decoration: none;
  line-height: 1.5;
  font-family: "Open Sans";
  font-style: normal;
}
body .container-full-body .container-top .container-nav-top .parent-header .parent-container-nav-top .tes .first-nav-parent-telfon .number1 a .child-number1 p {
  font-weight: 700;
  font-size: 10px;
  color: #686C73;
}
body .container-full-body .container-top .container-nav-top .parent-header .parent-container-nav-top .tes .first-nav-parent-telfon .number1 a .child-number2 p {
  font-weight: 700;
  font-size: 16px;
  color: #0A0A0B;
}
body .container-full-body .container-top .container-nav-top .parent-header .parent-container-nav-top .tes .first-nav-parent-email {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 5px;
}
body .container-full-body .container-top .container-nav-top .parent-header .parent-container-nav-top .tes .first-nav-parent-email .logo-email2 {
  position: relative;
}
body .container-full-body .container-top .container-nav-top .parent-header .parent-container-nav-top .tes .first-nav-parent-email .number1 a {
  text-decoration: none;
  line-height: 1.5;
  font-family: "Open Sans";
  font-style: normal;
}
body .container-full-body .container-top .container-nav-top .parent-header .parent-container-nav-top .tes .first-nav-parent-email .number1 a .child-number1 p {
  font-weight: 700;
  font-size: 10px;
  color: #686C73;
}
body .container-full-body .container-top .container-nav-top .parent-header .parent-container-nav-top .tes .first-nav-parent-email .number1 a .child-number2 p {
  font-weight: 700;
  font-size: 16px;
  color: #0A0A0B;
}
body .container-full-body .container-top .container-nav-top .parent-header .parent-container-nav-top .tes .first-nav-parent-email .read-more {
  background-color: red;
  display: flex;
  align-items: center;
  height: 100%;
}
body .container-full-body .container-top .container-nav-top .parent-header .parent-container-nav-top .tes .first-nav-parent-email .read-more a {
  background-color: aqua;
  height: 100%;
  display: flex;
  align-items: center;
}
body .container-full-body .container-top .container-nav-top .parent-header .parent-container-nav-top .tes .first-nav-parent-email .read-more a img {
  width: 200px;
  height: 60px;
}
body .container-full-body .container-nav-top2 {
  height: 863px;
  background-color: #343434;
}
body .container-full-body .container-nav-top2 .parent-article1 {
  max-width: 60.95%;
  margin: 0 auto;
  height: 806px;
}
body .container-full-body .container-nav-top2 .parent-article1 .article1 {
  background-color: #343434;
}
body .container-full-body .container-nav-top2 .parent-article1 .article1 .we {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  margin-top: 180px;
  color: #FE8C12;
}
body .container-full-body .container-nav-top2 .parent-article1 .article1 h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 90px;
  line-height: 110px;
  color: #FFFFFF;
}
body .container-full-body .container-nav-top2 .parent-article1 .article1 p {
  max-width: 85%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}
body .container-full-body .container-nav-top2 .parent-article1 .quote-content a img {
  margin-top: 47px;
}
body .container-full-body .container-nav-top2 .parent-article1 .swipe-button a {
  max-width: 100%;
  position: absolute;
  left: 75%;
}
body .container-full-body .container-nav-top2 .parent-nav-top2 {
  max-width: 60.95%;
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  margin: 0 auto;
  height: 60px;
}
body .container-full-body .container-nav-top2 .parent-nav-top2 .list-nav-top2 {
  display: flex;
  gap: 3%;
  justify-content: start;
  flex-grow: 1;
  flex-basis: 50%;
  margin-left: 30px;
  font-family: "Open Sans";
}
body .container-full-body .container-nav-top2 .parent-nav-top2 .list-nav-top2 li .orange {
  color: #FE8C12;
}
body .container-full-body .container-nav-top2 .parent-nav-top2 .list-nav-top2 li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: white;
}
body .container-full-body .container-nav-top2 .parent-nav-top2 .list-logo-nav-top2 {
  display: flex;
  justify-content: end;
  margin-right: 30px;
  flex-grow: 1;
  flex-basis: 50%;
  gap: 2%;
  position: sticky;
}
body .container-full-body .container-nav-top2 .parent-nav-top2 .list-logo-nav-top2 .search {
  display: flex;
  gap: 10px;
  margin-right: 30px;
  align-items: center;
}
body .container-full-body .container-nav-top2 .parent-nav-top2 .list-logo-nav-top2 .search .logo-search {
  margin-right: 32.38px;
}
body .container-full-body main .article2 {
  max-width: 65%;
  height: 813px;
  margin: 0 auto;
  display: flex;
}
body .container-full-body main .article2 .parent-section1 {
  max-width: 100%;
  margin: 0 auto;
  height: 813px;
  position: relative;
  left: 50%;
}
body .container-full-body main .article2 .parent-section1 section h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin-top: 120px;
}
body .container-full-body main .article2 .parent-section1 section h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 62px;
}
body .container-full-body main .article2 .parent-section1 section p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 30px;
}
body .container-full-body main .article2 .parent-section1 section .satu ul {
  position: relative;
}
body .container-full-body main .article2 .parent-section1 section .satu ul .dua {
  display: flex;
  position: relative;
  top: 20px;
}
body .container-full-body main .article2 .parent-section1 section .satu ul .dua .s .gg1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 28px;
}
body .container-full-body main .article2 .parent-section1 section .satu ul .dua .s .gg2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
body .container-full-body main .article2 .parent-section1 section .satu ul .tiga {
  display: flex;
  position: relative;
}
body .container-full-body main .article2 .parent-section1 section .satu ul .tiga .s .gg1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 28px;
}
body .container-full-body main .article2 .parent-section1 section .satu ul .tiga .s .gg2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
body .container-full-body main .article2 .parent-section1 section .gg a {
  display: flex;
  position: relative;
  gap: 30px;
  top: 55px;
}
body .container-full-body main .article2 .parent-section2 {
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  position: relative;
  right: 60%;
}
body .container-full-body main .article2 .parent-section2 .one {
  position: relative;
  top: 20%;
  right: 50px;
  width: calc(162px + 16vw);
}
body .container-full-body main .article2 .parent-section2 .two {
  position: relative;
  bottom: 35%;
  left: 22%;
}
body .container-full-body main .article2 .parent-section2 .three {
  position: relative;
  bottom: 40%;
  left: 33%;
}
body .container-full-body main .article3 {
  height: 648px;
  background-color: #343434;
  top: 813px;
  background: #0A0A0B;
  opacity: 0.85;
  margin: 0 auto;
  width: 100%;
}
body .container-full-body main .article3 .parent1 {
  background-color: #343434;
}
body .container-full-body main .article3 .parent {
  max-width: 65%;
  margin: 0 auto;
  height: 648px;
  display: flex;
}
body .container-full-body main .article3 .parent .test {
  margin-top: 170px;
}
body .container-full-body main .article3 .parent .test h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 62px;
  font-weight: bolder;
}
body .container-full-body main .article3 .parent .test img {
  margin-top: 15%;
}
body .container-full-body main .article3 .parent .test1 {
  margin-top: 240px;
  position: relative;
  left: 200px;
}
body .container-full-body main .article3 .parent .test1 p {
  position: relative;
  bottom: 40px;
}
body .container-full-body main .article3 .parent .test1 a img {
  position: relative;
}
body .container-full-body main .article3 .parent .test1 a .coretan {
  position: relative;
  margin-top: 30px;
}
body .container-full-body main .article4 {
  height: 813px;
  background-color: #ffffff;
}
body .container-full-body main .article4 .judul {
  display: flex;
  padding-left: 275px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FE8C12;
  gap: 10px;
  font-weight: 900;
  margin-top: 83px;
}
body .container-full-body main .article4 h2 {
  padding-left: 275px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 62px;
  font-weight: bolder;
}
body .container-full-body main .article4 .grid ul {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  margin-top: 60px;
}
body .container-full-body footer {
  background-color: #FE8C12;
  background-image: url(/Public/image/Background-footer.svg);
}
body .container-full-body footer .cont-1 {
  height: 642px;
}
body .container-full-body footer .cont-1 .cont1-black {
  display: flex;
  gap: 20px;
}
body .container-full-body footer .cont-1 .cont1-black img {
  max-width: 100%;
}
body .container-full-body footer .cont-1 .cont1-black h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  color: #FFFFFF;
}
body .container-full-body footer .cont-1 .cont1-black {
  position: relative;
}
body .container-full-body footer .cont-1 .cont-footer {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  gap: 17px;
}
body .container-full-body footer .cont-1 .cont-footer .div-bioven img {
  position: relative;
}
body .container-full-body footer .cont-1 .cont-footer .div-bioven p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
body .container-full-body footer .cont-1 .cont-footer .div-bioven ul {
  display: flex;
  margin-top: 20px;
}
body .container-full-body footer .cont-1 .cont-footer .pages-link .div1 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  display: flex;
}
body .container-full-body footer .cont-1 .cont-footer .pages-link .div1 .flex {
  display: flex;
  gap: 17px;
  text-decoration: none;
}
body .container-full-body footer .cont-1 .cont-footer .recent-post h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
}
body .container-full-body footer .cont-1 .cont-footer .recent-post ul {
  position: inherit;
}
body .container-full-body footer .cont-1 .cont-footer .information-footer h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
}
body .container-full-body footer .copyright img ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
body .container-full-body footer .copyright img ul li p {
  position: relative;
}
body .container-full-body footer .copyright img ul .footer-last ul {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
